

/*Headder*/


header { 
    position: fixed;
    height: 100px;
    width : 100%;
    top: 0;
    right: 0;
    margin-top: 0px;
    z-index: 999;
    background-color: rgb(19, 160, 221);
    display: block;
    border-bottom: 2px rgb(253, 253, 253) solid;
}

#logoTristan {
    margin-top: 5px;
    width: 100%;
    height: 80px;
    max-height: 100%;
}


#Portfolio-Tristan-Pelsy {
    height: 70%;
    width: 100%;
    color: rgb(242, 245, 255);
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-top: 30px;   
    font-size: 30px; 
    font-size: 200%;
}

#divlogo {
    width: 80px;
    height: 100%;
}

#navbandeau {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#divTitre {
    width:70%;
    height: 100%;
}


/*Headder*/


/*Body*/


body {
    position: absolute;
    margin-top: 100px;
    width : 100%;
    height: 100%;
    border: solid red 2px;
    font-family: '';
    flex-direction: column;  
    background-color: rgb(106, 214, 247);  
}

#Debut {
   visibility: hidden;
}
a:visited {
    color : hsl(208, 90%, 38%);
}
a:hover {
    color : orange;
}

#navmenuselection a:visited {
    color: white;
}
#navmenuselection a {
    color: rgb(255, 255, 255);
}
#navmenuselection a:hover {
    color : rgba(0, 153, 255, 0.861);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/*Body*/


/*Menu de selection*/

@media (width < 705px) {
    #navmenuselection {
        display: none;
        background-color: rgb(19, 160, 221);
    }

      
    .DivBoutonsPrincipaux {
        display: none;
    }

    .DivBoutonsPrincipaux div{
        display: none;
    }

    .DivBoutonsPrincipaux div a{
        display: none;
    }

    .DivBoutonsPrincipaux a{
        display: none;
    }

    #Portfolio-Tristan-Pelsy {
        font-size: 185%;
    }

    #divTitre {
        width: 100%;
    }

    #divbouttonBurger {
        height: 100%;
        width: 20%;
        display: block;
    }

    #navmenuselection div {
        display: none;
    }

    #bouttonBurger {
        position : fixed;
        top : 10px;
        left : 10px;
        min-width: 10px;
        width: 40px;
    }

    div:hover #bouttonBurger {
        display: none;
    }

    div:hover .Sous-menuburger {
        background-color: rgb(16, 143, 206);
        display: block;
    }
}

.Sous-menuburger {
    display: none;
}

@media (width > 705px) {
    #bouttonBurger {
        display: none;
    }
}

@media (width > 705px) {
    #navmenuselection {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
}

.DivBoutonsPrincipaux {
    background-color: rgb(23, 105, 153);
    border-left: 4px solid;
    align-self: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border: solid 1px rgb(255, 255, 255);

}

.Sous-menu1 {
    display: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(7, 111, 176);
    margin: 6px
}

#navmenuselection:hover div div {
    border: solid 4px transparent;
}

div:hover div .Sous-menu1 {
    display: block;
}

.DivBoutonsPrincipaux:hover div {
    background-color: rgb(23, 105, 153);
}


/*Menu de selection*/


/*Images en bas à droite*/


.ImgReseaux {
    position : fixed;
    bottom : 10px;
    right : 10px;
    float : right;
    display : flex;
    flex-direction : column;
    max-width: 20px;
    min-width: 10px;
    width: 20px;
}

#imggmail {
    border : solid 2px transparent;
}

#imglinkedin {
    border : solid 2px transparent;
}


/*Images en bas à droite*/

main {
    background: url(Images/ArièrePlanPortfolio.png) fixed 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

footer {
    height: 30%;
}

.divtest2 {
    display: flex;
    flex-direction: column;
}

#imgtest {
    width: 50%;
}

#ptest {
    width: 50%;

}